@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Quicksand:wght@300..700&display=swap');

:root{
   --Playfair: 'Playfair Display',serif;
   --Quicksand: 'Quicksand',sans-serif;
   --Roboto:'Roboto',sans-serif;
   --dark:#3c393d;
   --exDark:#2b2b2b;
}

*{

   padding: 0;
   margin: 0;
   font-family: var(--Quicksand);
}
.navbar{
   background: #A2AA92;
   padding:1.2rem;
}

.navbar-brand{
   color: #fff;
   font-size: 2rem;
   display: block;
   text-align: center;
   text-decoration: none;
   font-family: var(--Playfair);
   letter-spacing: 1px;
}
.navbar-nav{
   padding: 0.8rem 0 0,2rem 0;
   text-align: center;
}
.navbar-nav a{
   text-transform: uppercase;
   font-family: var(--Roboto);
   letter-spacing: 1px;
   font-weight: 500;
   color: #fff;
   text-decoration: none;
   display: inline-block;
   padding: 0.4rem 0.1rem;
   letter-spacing: 3px;
   transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
   opacity: 0.7;
}
body {
      font-family: "Tahoma", sans-serif;
       background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(background.jpeg) center/cover no-repeat fixed ;
        min-height: 100vh;
     display: flex;
   flex-direction: column;
   justify-content: stretch;
    }
    .post {
      background: #A2AA92;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      padding: 20px;
      margin: 20px auto;
      max-width: 700px;
        display: flex; /* استخدم flexbox */
    flex-direction: column; /* ترتيب العناصر عموديًا */
    align-items: center; /* محاذاة العناصر في المنتصف */
    }
   
    .post h2 {
    color: #fff;
      font-size: 2.2em; /* حجم العنوان */
    margin-bottom: 10px; /* مسافة أسفل العنوان */
    text-align: center;
    }
    .post h3{
        font-size: 1.5em;
        color: #fff;
    margin-bottom: 10px; /* مسافة أسفل العنوان */
    text-align: center;
    }
    .post p {
        direction: rtl;
   text-align: right;
   font-size: 1.5em;
   margin-bottom: 10px;
      color: #fff;
      line-height: 1.8;
      font-size: 16px;
    }
    a.back {
      
    position: fixed; /* لجعل الزر ثابتًا */
    bottom: 20px; /* المسافة من أسفل الشاشة */
    left: 20px; /* المسافة من يسار الشاشة */
    padding: 5px 10px; /* حشو أصغر للزر */
    background: #A2AA92;
    color: #fff; /* لون النص */
    text-decoration: none; /* إزالة التسطير */
    border-radius: 6px; /* زوايا دائرية */
    font-size: 14px; /* حجم خط صغير */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* ظل خفيف */
    
    }
    a.back:hover {
      background: #A2AA92;

    }
img{
   max-width: 100%;
   height: auto;
   display: block;
}
